@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: url('../background-image.jpg') center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.application-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

h1 {
    margin: 0 10px 0 0;
}

#edit {
    background-color: transparent;
    border: 0;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

#subscribe {
    color: #fff;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

#subscribe i {
    font-size: 28px;
    margin-right: 10px;
}

.send-message {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 15px;
}

.send-message label {
    width: 80%;
    height: 40px;
    overflow: hidden;
}

.send-message label textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px 0 0 10px;
    font-size: 18px;
    border: 2px solid #fff;
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}

.send-message button {
    width: 15%;
    border: 2px solid #fff;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.application-body {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}

.modal-header {
    margin-bottom: 10px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 30px 20px;
    color: #fff;
}

.modal-content > i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input {
    height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
}

.modal-content button {
    width: 100px;
    height: 30px;
    border: 2px solid #fff;
    background-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.post {
    border: 2px solid #fff;
    margin: 10px 10px 10px 0;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.post p {
    margin: 10px 0 0 0;
}